# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub PostgreSQL image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: prisma
          POSTGRES_DB: tests
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Initialise environment variables
      run: |
        rm -f apps/back-end/.env.test
        touch apps/back-end/.env.test
        touch apps/back-end/.env.development
        echo DATABASE_URL="${{ secrets.DATABASE_URL }}" >> apps/back-end/.env.test
        echo DATABASE_URL="${{ secrets.DATABASE_URL }}" >> apps/back-end/.env.development
    - name: Install dependencies
      run: npm ci
    - name: Generate Prisma Client
      # The local utility package needs to be built so that we can disable tsc in the generated output
      run: |
        npm run migrate-deploy
        npm run build -- --filter=@neurosongs/utility
        npm run generate-from-back-end
    - name: Build packages
      run: npm run build --if-present
    - name: Run linting checks
      run: npm run lint
    - name: Run tests
      run: npm test
