name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/neurosongs-2' }}
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: AlexMan123456/github-actions/.github/actions/update-dependencies@7cfde49e1e35cf29510a080dadccf249c0dd157b # v2.2.0
      with:
        PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
