name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/neurosongs-2' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@354599901d68187588a054262e8cb5f1887922d4 # v2.4.0
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
