name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/neurosongs-2' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@d6e6c485433f62610cb8e7603d68b78ab3b3fa71 # v2.4.1
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
